@font-face {
	font-family: 'vt323regular';
	src: url('assets/vt323-regular-webfont.woff2') format('woff2'),
		url('assets/vt323-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'vt323regular';
	font-size: 16px;
	margin: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
    color: white;
    text-shadow: 0 0 0.5px white, 0 0 1px white;
}

body {
	height: auto;
	min-height: calc(100vh - 80px);
	background-color: #354145;
	margin: 1rem;
	padding: 2rem 2rem 1rem 2rem;
	border: 2px solid white;
}

#app {
	height: auto;
	min-height: calc(100vh - 80px);
}

.horisontal {
	display: grid;
	grid-template-columns: 1fr 375px;
}

.vertical {
	display: grid;
	grid-template-rows: 1fr 375px;
}

.redirectMenu {
	background-color: #445156;
	width: 50vw;
}

.menuContent {
	padding: 1rem 2rem 1rem 2rem;
	font-size: 20px;
}

#siteList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#paragraph {
	display: grid;
	align-items: end;
	justify-content: end;
	width: auto;
	margin-bottom: 1rem;
}

#information {
	width: 375px;
	padding-top: 1rem;
}

#logoContainer {	
	border-bottom: 2px solid white;
}

.head {
	border-bottom: 2px solid white;
}

img {
	padding-bottom: 1rem;
}

.site {
	margin: 0 1rem 1rem 0;
	display: grid;
	grid-template-rows: 20px 20px;
	grid-template-columns: 30px 1fr;
	font-size: 20px;
}

a {
	color: white;
    text-shadow: 0 0 0.5px white, 0 0 1px white;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

span {
	text-decoration: underline;
	color: white;
    text-shadow: 0 0 0.5px white, 0 0 1px white;
	cursor: pointer;
}

button {
	background-color: #354145;
	border-color: white;
	color: white;
	border-radius: 2px;
	padding: 0.4rem 0.6rem 0.6rem 0.6rem;
	font-family: 'vt323regular';
	font-size: 20px;
	margin: 2rem 2rem 0 2rem;
}