@font-face {
	font-family: 'vt323regular';
	src: url('assets/vt323-regular-webfont.woff2') format('woff2'),
		url('assets/vt323-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'vt323regular';
	font-size: calc(1em + 1vw)
	margin: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
    color: white;
    text-shadow: 0 0 0.5px white, 0 0 1px white;
}

svg {
	display: block;
	margin: auto;
	opacity: 0.7;
}

body {
	height: auto;
	min-height: calc(100vh - 80px);
	background-color: #354145;
	margin: 1rem;
	padding: 2rem 2rem 1rem 2rem;
	border: 2px solid white;
}

h1 {
	opacity: 0.5;
	color: white;
	font-size: 3.5em;
	margin-top: -1rem;
	padding-right: 1rem;
	margin-bottom: 0rem;
	outline-color: white;
}

#app {
	height: auto;
	min-height: calc(100vh - 80px);
}

.redirectMenu {
	background-color: #445156;
}

.menuContent {
	padding: 1rem 2rem 1rem 2rem;
	font-size: 20px;
}

#menu {
	display: grid;
  	grid-template-columns: repeat(2, fit-content(50%));
  	grid-column-gap: 10px;
}

#redirectMenu {
	display: grid;
	justify-items: center;
}

@media only screen and (max-width: 500px) {

	#siteList {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	#app {
		display: grid;
		grid-template-rows: 1fr 375px;
	}

	.site {
		font-size: 2em;
	}

	#menuContainer {
		display: grid;
		grid-template-rows: repeat(2, fit-content(50%));

	}	
}

@media only screen and (max-width: 1080px) and (min-width: 500px) {
	#siteList {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	#app {
		display: grid;
		grid-template-rows: 1fr 375px;
	}

	.site {
		font-size: 2em;
	}

	#menuContainer {
		display: grid;
		grid-template-columns: fit-content(30px) 1fr;
	}
}

@media only screen and (min-width: 1080px) {
	#siteList {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	#app {
		display: grid;
		grid-template-columns: 1fr 375px;
	}

	.site {
		font-size: 1.25em;
	}

	#menuContainer {
		display: grid;
		grid-template-columns: fit-content(30px) 1fr;
	}

}

#paragraph {
	display: grid;
	align-items: end;
	justify-content: end;
	width: auto;
	margin-bottom: 1rem;
}

#information {
	width: 375px;
	padding-top: 1rem;
}

#logoContainer {
	display: grid;
	border-bottom: 2px solid white;
	align-items: center;
	grid-template-columns: 1fr 5fr;
}

#explore {
	align-self: start;
	justify-self: end;
}

.head {
	border-bottom: 2px solid white;
}

img {
	padding-bottom: 1rem;
}

.site {
	margin: 0 1rem 1rem 0;
	display: grid;
	grid-template-columns: fit-content(30px) 1fr;
	grid-column-gap: 1em;
}

a {
	color: white;
    text-shadow: 0 0 0.5px white, 0 0 1px white;
    text-decoration: none;
    font-size: inherit;
}

a:hover {
	text-decoration: underline;
}

span {
	text-decoration: underline;
	color: white;
    text-shadow: 0 0 0.5px white, 0 0 1px white;
	cursor: pointer;
	margin: 0;
}

button {
	background-color: #354145;
	border-color: white;
	color: white;
	border-radius: 2px;
	padding: 0.4rem 0.6rem 0.6rem 0.6rem;
	font-family: 'vt323regular';
	font-size: 20px;
	margin: 2rem 2rem 0 2rem;
}